@font-face {
  font-family: 'GT Pressure';
  src: url('/fonts/GT Pressura Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JeanLuc-Bold';
  src: url('/fonts/JeanLuc-Bold.otf') format('otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'JeanLuc-Thin';
  src: url('/fonts/JeanLuc-Thin.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

#root {
  text-align: center;
}