@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-Pressure";
  src: local("GT-Pressure"), url("/fonts/GT-Pressura-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JeanLuc-Bold";
  src: local("JeanLuc-Bold"), url("/fonts/JeanLuc-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "JeanLuc-Thin";
  src: local("JeanLuc-Thin"), url("/fonts/JeanLuc-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  overflow-x: hidden;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply font-JeanLuc-Bold;
  @apply cursor-default;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
